.headerItemWrapper {
  display: flex;
  align-items: center;
  padding: 0 12px;

  @keyframes scoreJump {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3) rotateZ(45deg);
    }
    100% {
      transform: scale(1);
    }
  }

  .score,
  .record {
    font-size: 30px;
  }
  .star,
  .heart {
    font-size: 40px;
    &.animate {
      animation: scoreJump 0.9s;
    }
  }
  .ex {
    font-size: 20px;
    margin: 0 5px;
  }
  .heart {
    animation: heartbeat 1s infinite;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0 36px;
}

.headerLeft,
.headerRight {
  display: flex;
}

.corrects {
  width: 4px;
  height: 22px;
  background-color: #efefef;
  margin: 0 2px 0 0;
  display: flex;
  flex-direction: column-reverse;
  .correctsBar {
    width: 4px;
    background: green;
    transition: height 0.3s;
  }
}
