.gameWrapper {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#aaa 0.5px, transparent 0.5px),
    radial-gradient(#aaa 0.5px, #fff 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;

  .cardsWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .lettersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: 50px 0 0;
  }

  .singleLetter {
    width: 65px;
    height: 65px;
    border: 1px solid;
    border-radius: 6px;
    align-items: center;
    margin: 10px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    box-shadow: 3px 3px 6px 0 #000;
    transition: all 0.1s ease;
    background-color: white;
    font-size: 16px;
    font-family: sans-serif;

    &.disabled {
      box-shadow: 1px 1px 0px 0px #333;
      // opacity: 0.15;
      color: #aaa;
      font-size: 16px;
      background-color: #fff;
    }

    &:nth-child(odd) {
      animation: buttonUnPressOdd 0.2s;
      transform: scale(1) translateY(3px);

      &.disabled {
        animation: buttonPressOdd 0.3s;
        transform: scale(0.9) translateY(3px);
      }
    }
    &:nth-child(even) {
      animation: buttonUnPressEven 0.2s;
      transform: scale(1) translateY(-3px);

      &.disabled {
        animation: buttonPressEven 0.3s;
        transform: scale(0.9) translateY(-3px);
      }
    }
  }

  @keyframes buttonPressEven {
    0% {
      transform: scale(0.9) translateY(-3px);
    }
    50% {
      transform: scale(0.8) translateY(-3px);
    }
    100% {
      transform: scale(0.9) translateY(-3px);
    }
  }

  @keyframes buttonPressOdd {
    0% {
      transform: scale(0.9) translateY(3px);
    }
    50% {
      transform: scale(0.8) translateY(3px);
    }
    100% {
      transform: scale(0.9) translateY(3px);
    }
  }

  @keyframes buttonUnPressEven {
    0% {
      transform: scale(1) translateY(-3px);
    }
    50% {
      transform: scale(1.1) translateY(-3px);
    }
    100% {
      transform: scale(1) translateY(-3px);
    }
  }

  @keyframes buttonUnPressOdd {
    0% {
      transform: scale(1) translateY(3px);
    }
    50% {
      transform: scale(1.1) translateY(3px);
    }
    100% {
      transform: scale(1) translateY(3px);
    }
  }

  .selectedLettersItem {
    width: 2.5rem;
    height: 65px;
    align-items: flex-end;
    margin: 10px;
    justify-content: center;
    display: flex;
    font-size: 40px;
    transition: all 0.4s ease;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    background-color: white;

    &:empty {
      border-bottom: 2px solid #000;
    }
  }

  .placeholdersWrapper,
  .selectionCardsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .placeholdersWrapper {
    flex-direction: row-reverse;
    position: relative;
  }

  .newWordButton {
    padding: 10px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    border: 1px solid;
  }

  .skipButton {
    position: absolute;
    left: 2px;
    bottom: 2px;
    padding: 10px 20px;
    width: 160px;
    background: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
  }

  .selectionClearButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
  }

  .healthMeterWrapper {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    .healthMeterBar {
      transition: width 0.6s ease-in;
      height: 100%;
      &.low {
        background: #f45d40;
      }
      &.medium {
        background: #f4b340;
      }
      &.high {
        background: #2bc38b;
      }
    }
  }
}
